<div class="container">
  <div class="card bg-warning text-white" *ngIf='gitRepos?.length==0'>
    <div class="card-body">no results found</div>
  </div>
<div class="card-columns">

  <div class="card" *ngFor='let repo of gitRepos'>
    <img class="card-img-top" src="{{repo.avatar_url}}" alt="image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">{{repo.name}}</h4>
      <!-- <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p> -->
      <button *ngIf="!repo.isBookMarked" type="button" (click)="bookMarkRepo(repo)" class="btn btn-primary">Book Mark</button>
      <button *ngIf="repo.isBookMarked" type="button" (click)="UnMarkRepo(repo)" class="btn btn-primary">Un Mark</button>
    </div>
  </div>
</div>
</div>